<div class="col-md-12">
    <div class="continent_tabs">
      <ul class="nav nav-tabs">
        <li class="nav-item tabp">
          <a class="nav-link linkp" aria-current="page" href="/">All</a>
        </li>
        <li class="nav-item tabp">
          <a class="nav-link linkp" href="">Computer Science</a>
        </li>
        <li class="nav-item tabp">
          <a class="nav-link linkp" href="">English</a>
        </li>
        <li class="nav-item tabp">
          <a class="nav-link linkp" href="">Physics</a>
        </li>
        <li class="nav-item tabp">
          <a class="nav-link linkp" href="">History</a>
        </li>
        <li class="nav-item tabp">
          <a class="nav-link linkp" href="">Geography</a>
        </li>
        <li class="nav-item tabp">
          <a class="nav-link linkp" href="">Chemistry</a>
        </li>
        <li class="nav-item tabp">
          <a class="nav-link linkp" href="">Biology</a>
        </li>
      </ul>
    </div>
  
    <div class="header">Flash Cards</div>
  
    <div class="col-md-12">
      <div class="countries">
        <div class="card mb-3" *ngFor="let flashcard of flashcards; let i = index">
          <div class="card-header bg-transparent">
            {{ flashcard.title}}
          </div>
          <div class="card-body">
            <p class="card-text">{{ flashcard.notes}}</p>
          </div>
          <div class="card-footer bg-transparent post-footer"><p class="card-text">{{ flashcard.subject }}</p></div>
          <div class="card-footer bg-transparent post-footer">
            <p>Posted {{ flashcard.dateCreated | dateCount }}</p>
            <p>Posted {{ flashcard. dateUpdated | dateCount }}</p>
     
          </div>
        </div>
      </div>
    </div>
  </div>