.nav-all {
    background-color:#9ec0d4 !important;  
    padding-right: 8px;
    padding-left: 8px;
    font-size: 23px;
    color: black;
}

.navbar.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }
  
.nav-link:hover {
    color: #1073E5 !important;
}

.brand-name {
    font-size: 25px;
}

.sign a {
    display: inline;
    text-decoration: none;
}

.search-btn {
    color: black;
    border-color: black;
}

.search-btn:hover {
    background-color: #1073E5;
}

footer {
    background-color: #9ec0d4  !important;
    color: black ;
}