
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-all sticky-top ">
      <div class="container-fluid">
        <span class="navbar-brand brand-name"><a class="nav-link active title1" aria-current="page" routerLink="/home">{{title}}</a></span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/add-flash">Add Flash</a>
            </li>
          </ul>
          <span class=" form-inline my-2 my-lg-0 auth sign">
            <a class="nav-link" routerLink="/login" *ngIf="currentUser == null"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;
              Sign In</a>
            <a class="nav-link" routerLink="/register" *ngIf="currentUser == null"><i class="fa fa-sign-up" aria-hidden="true"></i>&nbsp;
              Sign Up</a>
            <a class="nav-link" routerLink="/register" *ngIf="currentUser" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;
              Sign Out</a>
          </span>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success search-btn" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
